.backLogin{
    background: rgb(195,171,211);
background: linear-gradient(180deg, rgba(195,171,211,1) 30%, rgba(255,255,255,1) 100%);
min-height: 100vh;
display: flex;
}
.backLogin .ContainerForm{
    margin: 0 auto;
    margin-top: 3%;
}
.boxNav{
    border-bottom: 1px solid #08080823; /* Adiciona uma borda sólida de 2 pixels */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.555);
}

.ContainerForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 31.25rem;
    background-color: white;
    height: 28rem;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.ContainerForm h2{
    margin-top: 3.5rem;
    color: #5b2f2d;
}
.ContainerForm input{
    width: 20rem;
    height: 2.5rem;
    border-radius: 2.5rem;
    margin-bottom: 0.9375rem;
}

.ContainerForm .buttonLogin{
    background-color: rgb(195,171,211);
    padding: 0.8125rem 2.5rem;
    border-radius: 2.5rem;
    color: #5b2f2d;
    text-decoration: none;
    margin-bottom: 0.625rem;
}

.ContainerForm .hrdiv{
background: #5b2f2d5d;
width: 70%;
height: 2px;
margin-bottom: 10px;
}
.ContainerForm a{
    color: #5b2f2d;
    margin-bottom: 10px;
}